<%- include('../../partials/header') -%>

<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">사용자 수정</h1>
</div>

<form>
  <div class="form-group">
    <label for="user-name">사용자 이름</label>
    <input
      type="text"
      class="form-control"
      id="user-name"
      placeholder="사용자 이름"
      name="name"
    />
  </div>
  <div class="form-group">
    <label for="user-email">사용자 이메일</label>
    <input type="email" class="form-control" id="user-email" name="email" />
  </div>
  <div class="form-group">
    <label for="user-password">사용자 패스워드</label>
    <input
      type="password"
      class="form-control"
      id="user-password"
      name="password"
    />
  </div>
  <div class="float-right">
    <ul class="list-inline">
      <li class="list-inline-item">
        <button
          type="submit"
          id="edit-btn"
          class="btn btn-primary"
          formmethod="POST"
          formaction="/admin/user"
        >
          Submit
        </button>
      </li>
    </ul>
  </div>
</form>
<%- include('../../partials/footer') -%>
